@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    font-family: Mulish;
}
body{
    padding: 20px 100px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    color: rgba(19, 19, 24, 0.70);
}
h1{
    font-size: 58px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #FFF;
    padding: 0px;
    margin: 5px 0px;
}
h2{
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #131318;
}
h4{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #131318;
}
h6{
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    color: #131318;
}
button{
    height: 48px;
    border-radius: 8px;
    background: #FF5400;
    width: 160px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 700;
}
/* header section design */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}
.logo>img{
    width: 50px;
    height: 46px;
}
.logo>h2{
    font-size: 32px;
}
.logo-h1{
    color: #FF5400;
}
nav ul{
    display: flex;
    gap: 40px;
}
nav a{
    text-decoration: none;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    color: var(--Dark-02, #424247);
}
nav li{
    list-style: none;
}
.mobile-menu{
    display: none;
}
.list-one{
    color: #FF5400;
    font-weight: 700;
}

/* banner Section */
.title-banner-section {
    font-size: 50px;

}

.text-color {
    color: white;

}

.banner-sec {
    position: relative;
    height: 500px;
    width: 90%;
    margin: 2% 6%;
    background-image: url(./Images/banner1.png), linear-gradient(rgba(19, 19, 24, 1), rgba(19, 19, 24, 0));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.banner-section-text {
    padding: 5% 25%;
    text-align: center;
    
}

.select-option {
    width: 160px;
    height: 52px;
    border-radius: 8px;
    margin-left: 2%;
}

.where-go {
    width: 160px;
    height: 46px;
    border-radius: 8px;
    padding-left: 14px;
}

.find-now-option {
    border-radius: 8px;
    margin-left: 20%;
    width: 719px;
    height: 53px;
    background: rgba(228, 239, 255, 0.3);
    padding: 15px;
}

.find-now-option button {
    background: #FF5400;
    color: aliceblue;
}

.find-now-btn {
    margin-left: 5px;
}
/* End banner Section */

/* popular Section */
.popular-section {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 5%;
    margin: 7% 6% 0 6%;
    font-size: 16px;
    font-weight: 400px;
    line-height: 26px;
}

.popular-section h1 {
    font-size: 40px;
    font-weight: 800;
    line-height: 50px;
}

.popular-section button {
    background: #FF5400;
    height: 52px;
    width: 174px;
    border-radius: 8px;
    font-size: 18px;
    color: aliceblue;
    margin-top: 36px;
}

.popular-img {
    position: absolute;
    width: 540px;
    height: 550px;
    right: 5%;
}

/* end popular Section */






/* responsive for phone */
@media only screen and (max-width:600px) {
    body{
        padding: 0px;
        margin-left: 50px;
    }
    /* header */
    nav span{
        display:block;
    }
    nav li{
        display: none;
    }

    .mobile-menu{
        display: block;
    }

    /* banner Section */
    .title-banner-section {
        font-size: 30px;
    }

    .find-now-option {
        width: 170px;
        height: 140px;
        margin-left: 32%;
    }

    .select-option {
        height: 30px;
        width: 175px;
        margin-bottom: 5px;
    }

    .find-now-option-input-size {
        height: 30px;
        margin-bottom: 5px;
    }
/* end banner Section */
/* popular Section  */

.popular-section {
    display: block;
}

.popular-img {
    margin-top: 30px;
}
/* end popular Section */
}